div{
    background-color: blue;
   
    
}
p{
    color: white;
}
.1 img{
    position: absolute ;
    top: 10px;
}
.2 img{
    position: absolute ;
    top: 14px;
}
.3 img{
    position: absolute ;
    top: 18px;
}
.4 img{
    position: absolute ;
}
.5 img{
    position: absolute ;
}
.6 img{
    position: absolute ;
}